<settings>

    <pluginGroups>
        <pluginGroup>org.jenkins-ci.tools</pluginGroup>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>

<!--    <localRepository>${PWD}/artifacts/m2</localRepository>-->


    <mirrors>


        <mirror>
            <id>nexus-aliyun</id>
            <mirrorOf>central</mirrorOf>
            <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
        </mirror>

        <mirror>
            <id>google-maven-central</id>
            <name>Google Maven Central</name>
            <url>https://maven-central.storage.googleapis.com/repos/central/data/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>

    </mirrors>
    
    
  <profiles>

	<profile>
            <id>jdk-1.8</id>
            <activation>
                <activeByDefault>true</activeByDefault>
                <jdk>1.8</jdk>
            </activation>
            <properties>
                <maven.compiler.source>1.8</maven.compiler.source>
                <maven.compiler.target>1.8</maven.compiler.target>
                <maven.compiler.compilerVersion>1.8</maven.compiler.compilerVersion>
            </properties>
        </profile>
<!--      -->
<!--      &lt;!&ndash; Give access to Jenkins plugins &ndash;&gt;-->
<!--      <profile>-->
<!--          <id>jenkins</id>-->
<!--          <activation>-->
<!--              <activeByDefault>true</activeByDefault> &lt;!&ndash; change this to false, if you don't like to have it on per default &ndash;&gt;-->
<!--          </activation>-->
<!--          <repositories>-->
<!--              <repository>-->
<!--                  <id>nexus-aliyun</id>-->
<!--                  <url>http://maven.aliyun.com/nexus/content/groups/public/</url>-->
<!--              </repository>-->
<!--&lt;!&ndash;              <repository>&ndash;&gt;-->
<!--&lt;!&ndash;                  <id>repo.jenkins-ci.org</id>&ndash;&gt;-->
<!--&lt;!&ndash;                  <url>https://repo.jenkins-ci.org/public/</url>&ndash;&gt;-->
<!--&lt;!&ndash;              </repository>&ndash;&gt;-->
<!--          </repositories>-->
<!--          <pluginRepositories>-->
<!--              <pluginRepository>-->
<!--                  <id>repo.jenkins-ci.org</id>-->
<!--                  <url>https://repo.jenkins-ci.org/public/</url>-->
<!--              </pluginRepository>-->
<!--          </pluginRepositories>-->
<!--      </profile>-->
<!--      <profile>-->
<!--          <id>sonar</id>-->
<!--          <activation>-->
<!--              <activeByDefault>true</activeByDefault>-->
<!--          </activation>-->
<!--      </profile>-->
	
	
  </profiles>

</settings>
